#nombre {
  text-align: center;
}

#especialidad {
  text-align: center;
  color: #ffffbd;
}

#descripcion {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  margin: 5% 3%;
}

#portada {
  border-radius: 1000px;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  max-width: 200px;
  height: auto;
  max-height: 200px;
  flex: 1 1 200px;
}

#descripcion-texto {
  flex: 1 1 200px;
  margin: 5%;
}