a {
  color: aliceblue;
}
a:visited {
  color: lightgray;
}
a:hover {
  color: #eee;
}
nav {
  color: #171717;
  z-index: 100;
  position: fixed;
  background-color: #171717;
}
nav ul li {
  float: left;
}
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flow;
}
ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #1f2556;
}
body {
  background-color: #191919;
  color: whitesmoke;
  margin: 0px;
}

main {
  padding-top: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  text-align: center;
}
