<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="author" content="Josue Madueño" />
  <meta name="description" content="about me" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre mí</title>
  <link rel="stylesheet" href="../static/css/main.css" type="text/css" />
  <link rel="stylesheet" href="../static/css/contacto.css" type="text/css" />
  <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css" type="text/css" />
</head>

<body>
  <header>
    <button class="menu-hamburguesa" id="menu-hamburguesa" aria-expanded="false" aria-controls="main-menu"> ☰ </button>
    <nav id="main-menu">
      <ul>
        <li>
          <a href="{{url_for('index')}}" id="derecha"><i class="nf nf-cod-home"></i></a>
        </li>
        <li><a href="https://github.com/Bynocrack" target="_blank" rel="noopener">Mi github</a></li>
        <li><a href="{{url_for('proyectos')}}">Mis principales proyectos</a></li>
        <li><a href="{{url_for('experiencia')}}">Mi experiencia</a></li>
        <li><a href="{{url_for('agradecimientos')}}">Mis amigos</a></li>
        <li><a href="{{url_for('contacto')}}">Mandame un mensaje!</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form method="POST" action="{{url_for('contacto')}}">
      <fieldset>
        <legend>Contactame</legend>
        <label for="nombre">Nombre</label><br />
        <input type="text" name="nombre" placeholder="Pepito Rodriguez" required autofocus /><br />
        <label for="presupuesto">Presupuesto</label><br />
        <input type="text" name="presupuesto" placeholder="500.00" required /><br />
        <label for="correo">Correo</label><br />
        <input type="email" name="correo" placeholder="ejemplo@gmail.com" required /><br />
        <label for="mensaje">Mensaje</label><br />
        <textarea placeholder="Hey! Necesito de tus habilidades." name="mensaje" required></textarea><br />
        <button type="submit" id="enviar--form">Enviar</button>
      </fieldset>
    </form>
  </main>
  <footer>
    <p>Josue Madueño &lt;&lt;&copy;&gt;&gt; 2025</p>
  </footer>
  <script src="../static/js/contacto.js"></script>
  <script src="../static/js/main.js"></script>
</body>

</html>